[submodule "linear_algebra"]
	path = linear_algebra
	url = https://github.com/water-chika/linear_algebra
[submodule "rational_number"]
	path = rational_number
	url = https://github.com/water-chika/rational_number
